body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4b4a4a, #495555);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
a{
    margin: auto;
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: #34495e;
    backdrop-filter: blur(55px);
}
.container {
    text-align: center;
    background-color: #f39c12;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ffffff;
}

.info {
    margin-bottom: 20px;
    font-size: 18px;
}

.slot-machine {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.slot {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-color: #34495e;
    border-radius: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

button {
    background-color: #e74c3c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
}
select {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}
.back-button {
    position: fixed; /* Przyklejenie przycisku do konkretnej pozycji na ekranie */
    top: 20px; /* Odległość od górnej krawędzi ekranu */
    left: 20px; /* Odległość od lewej krawędzi ekranu */
    background-color: #000000; /* Czerwone tło */
    color: white; /* Biały tekst */
    border: none; /* Brak domyślnej ramki */
    padding: 15px 30px; /* Wewnętrzne odstępy dla przycisku */
    font-size: 18px; /* Wielkość czcionki */
    border-radius: 50px; /* Zaokrąglone krawędzie */
    cursor: pointer; /* Zmieniony kursor na "rączkę" */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lekki cień pod przyciskiem */
    transition: all 0.3s ease; /* Płynna animacja dla efektów hover */
}

.back-button:hover {
    background-color: #615f5f; /* Ciemniejszy czerwony przy hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Większy cień przy hover */
    transform: scale(1.05); /* Przybliżenie przy hover */
}

.back-button:active {
    transform: scale(0.95); /* Pomniejszenie przy kliknięciu */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Mniejszy cień przy kliknięciu */
}